__pycache__
*.blend
*.db
*.dll
*.exr
*.jpg
*.log
*.mtl
*.obj
*.ply
*.png
*.rdc
*.rsInfo
*.tiff
*.vs
*.xyz
*.zip
data/*
map/tiles
logs
scripts/bin
scripts/obj
scripts/packages
scripts/renderdoc.dll
scripts/RenderDocHeader.cs
tmp
wbg
!data/render_targets.csv
!images/*.jpg
!images/*.png